body
{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    background-color:#383737;
}


.HeaderBackGround
{
    margin-block-start: 0px;
    background-color: #393E46;
    color: white;
    
}



.navbar {
    background-color: #393E46;
  }
  .navbar .navbar-brand {
      font-size: 25px;
    color:  white;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #7ecf82;
  }
  .navbar .navbar-text {
    font-size: 15px;
    color:  white;
  }
  .navbar .navbar-text a {
    color: #7ecf82;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #7ecf82; 
  }
  .navbar .navbar-nav .nav-link {
    font-size: 15px;
    color:  white;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #7ecf82;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #7ecf82;
    font-size: 15px;
    background-color:  white;
  }
  .navbar .navbar-toggler {
    font-size: 15px;
    border-color: white;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    font-size: 15px;
    background-color: white;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    font-size: 15px;
    color:  white;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color:  white;
  }
  .navbar .navbar-link {
    font-size: 15px;
    color: white;
  }
  .navbar .navbar-link:hover {
    color: #7ecf82;
  }
  


  
.carousel-indicators li {
  background-color: #7ecf82;
}
.carousel-indicators .active {
  background-color: #7ecf82;
}
.carousel .carousel-indicators li:nth-of-type(3).active {
  background-color:#7ecf82;
}

.sehrimCarouselStyle{
  height: 650px;
}
.hobilerimCarouselStyle{
  height: 650px;
}




.card-body{
  padding: 1rem;
  margin:auto;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.card{
  background-color:#7ecf82;
  margin-left: 2rem;
  margin-right: 2rem;
}

.cardButonStyle{
  color: white;
  background-color:#393E46 ;
}

.cardHeight{
  height: auto;
}

.cardImage{
  height: 300px;
}


.h2TextStyle{
  color:#393E46 ;
  position: relative;
  margin: auto;  
  font-weight: bold;
}

.tableStyle {
  color:black;
  border-color: #393E46;
  background-color:#7ecf82;
  line-height: auto;
}

.mark{
  margin: auto;
  background-color: #393E46 ;
  color: white;
}


.link {

  text-decoration: none;
  color: black;
}

.sehirhakkindaİmageStyle{
  width: 600px;
  height: 500px;
}


.footer{
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: #393E46 ;
  color: white;
}

label{
  color:#7ecf82;
  position: relative;
  margin: auto;  
  font-weight: bold;
}

