.sectionLogin{
    margin:center;
}
.box6{
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #383737;
    margin-bottom: 2rem;
    background-color: #7ecf82;
}
.h1TextStyle{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background-color:#383737 ;
    color: #7ecf82;
    font-size: 4rem;
    font-style: italic;  
}

.backGround{
    background-color:#383737 ;
}