.mainOzgecmis{
    display: flex;
}

aside{
    flex:25%;
    padding: 3.5rem;
}

section{
    flex:75%;
    padding: 3.5rem;
}

h4{
    font-weight: bold;
  }

.baslikStyle{
      font-weight: bold;
  }
  .imageProfil{
      border: 5px solid #393E46 ;
     
  }

.box1 {
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #7ecf82;
  }

  .box2 {
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
  }

  .box3 {
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
  }
 
  .box4{
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
  }

  
  .box5{
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
}
 
.box6{
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
}
 
.box7{
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
}
 
.box8{
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
}
 
.box9{
    width: auto;
    height: auto;
    padding: 25px;
    border: 5px solid #393E46;
    margin-bottom: 2rem;
    background-color: #7ecf82;
}

